#root > div > main[aria-label="Cart Section"] {
  /* for future styling change:background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/

  height: 100%;
  width: 100%;

  background-color: #ab9e2965;

  display: grid;
  grid-template: 1fr 12fr 2fr / 1fr;

  justify-items: center;
  align-items: center;
}

#root > div > main[aria-label="Cart Section"] > header {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #e3e2da;

  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}

#root > div > main[aria-label="Cart Section"] section.cart-items {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  overflow: auto;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;

  border: 2px solid #ab9e29;
}

#root > div > main[aria-label="Cart Section"] section.checkout {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template: 2fr 1fr / 1fr;

  justify-items: center;
  align-items: center;

  background-color: #e3e2da;
}

#root > div > main[aria-label="Cart Section"] > section > p.total-cost {
  height: 100%;
  width: 100%;

  padding: 0%;
  margin: 0%;

  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#root > div > main[aria-label="Cart Section"] > section > button {
  height: 80%;
  width: 18%;

  padding: 0%;
  margin: 0%;

  background-color: rgb(81, 223, 81);
  color: #e3e2da;
  border: none;

  font-family: "Raleway", sans-serif;
  font-size: 1.6rem;
  font-weight: 800;
  text-shadow: 1px 1px black;

  cursor: pointer;
}
