div.cart-item {
  box-sizing: border-box;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template: 1fr / 1fr 2fr 2fr 1fr;

  justify-items: center;
  align-items: center;
}

div.cart-item-image {
  height: 70%;
  width: auto;
  max-height: 20vh;
  max-width: 10vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.cart-item img {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.cart-item > p {
  height: 60%;
  width: 80%;

  margin: 0%;
  padding: 0%;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: #e3e2da;

  border: 2px solid #ab9e29;

  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings: "lnum" 1;
  -moz-font-feature-settings: "lnum=1";
  -ms-font-feature-settings: "lnum" 1;
  -o-font-feature-settings: "lnum" 1;
  -webkit-font-feature-settings: "lnum" 1;
  font-feature-settings: "lnum" 1;
}
