@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap");

html {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

div#root {
  height: 100%;
  width: 100%;
}
