div.App > header {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template: 1fr / 10fr 1fr 1fr 1fr;

  justify-items: center;
  align-items: center;
}

#root > div > header > h1 {
  height: 100%;
  width: 100%;

  margin: 0%;
}
